<p>
  <svg height="1000" width="1000">
   <circle cx="500" cy="50" r="20" stroke="red" stroke-width="3" fill="white" />
   <line x1="485" y1="65" x2="400" y2="150" style="stroke:rgb(255,0,0);stroke-width:2" />
   <circle cx="400" cy="150" r="20" stroke="black" stroke-width="3" fill="white" />
   <circle cx="600" cy="150" r="20" stroke="black" stroke-width="3" fill="white" />
   <text x="400" y="150" text-anchor="middle" stroke="#51c5cf" stroke-width="2px" dy=".3em">8</text>
   <line x1="385" y1="165" x2="300" y2="250" style="stroke:rgb(255,0,0);stroke-width:2" />
   <circle cx="300" cy="250" r="20" stroke="black" stroke-width="3" fill="white" />
   <circle cx="200" cy="350" r="20" stroke="black" stroke-width="3" fill="white" />
  </svg> 
  <svg height="100" width="100">
    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="white" />
  </svg> 
  <svg height="100" width="100">
    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="white" />
  </svg>
</p>
<p>
  <svg height="100" width="100">
    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="white" />
    <line x1="65" y1="65" x2="-200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
  </svg> 
  <svg height="210" width="500">
    <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
  </svg>
</p>


<h2>Test graph</h2>
<svg *ngFor="let node of completedGraph" height="1000" width="1000">
  <circle [attr.cx]="node.x" [attr.cy]="node.y" r="20" stroke="red" stroke-width="3" fill="white" />
  <text x="400" y="150" text-anchor="middle" stroke="#51c5cf" stroke-width="2px" dy=".3em">8</text>
</svg>

<h2>TESTSETES</h2>
<ul class="heroes">
  <li *ngFor="let node of completedGraph" >
    <span class="badge">{{node.id}}</span>
  </li>
</ul>

