<h2>Test graph</h2>
<ng-container>
  <svg [attr.height]="5000" [attr.width]="5000">
    <circle *ngFor="let node of globalCompletedGraph" [attr.cx]="node.x" [attr.cy]="node.y" r="20" stroke="red" stroke-width="3" fill="white" /> 
    <text *ngFor="let node of globalCompletedGraph" [attr.x]="node.x" [attr.y]="node.y" text-anchor="middle" stroke="#51c5cf" stroke-width="2px" dy=".3em">
      {{node.elem}}
    </text>
    <g *ngFor="let node of globalCompletedGraph" style="stroke:rgb(0,0,0);stroke-width:2">
        <line *ngIf="!isEmpty(node) && !isEmpty(node.left)" [attr.x1]="node.x-15" [attr.y1]="node.y+15" [attr.x2]="node.left.x+15" [attr.y2]="node.left.y-15" />
        <line *ngIf="!isEmpty(node) && !isEmpty(node.right)" [attr.x1]="node.x+15" [attr.y1]="node.y+15" [attr.x2]="node.right.x-15" [attr.y2]="node.right.y-15" />
    </g>
  </svg>
</ng-container>